<div class="formdiv">
    <div class="formtitle">
        <h1>Register</h1>
    </div>
    <div class="error">
        <% if(error) {%>
            <div class="alert">
                <p><strong>Error: </strong> <%= error%></p>
            </div>
        <% } %>
    </div>

    <form action="/access/register" method="post">
        <input type="text" name="username" id="username_input" placeholder="Username" required value="<%= account.username%>">
        <input type="password" name="password" id="password_input" placeholder="Password" required>
        <input type="password" name="confirm_password" id="password_input" placeholder="Confirm Password" required>
        <button type="submit" id="plus_button">Register</button>
    </form>
</div>