@import url("../../public/css/colors.css");

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    background-color: #333;
    width: 100%;
    height: 3em;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav a.title {
    color: white;
    float: left;
  }
  
  .topnav a.title:hover {
    background-color: #333;
    color: #4CAF50;
  }

.categoryinfo {
    margin: .5em 1em;
    padding: .5em 1em;
    display: grid;
    min-width: 1000px;

    .title {

        hr {
            margin-bottom: 2em;
        }
    }

    .buttonnagdiv {
        margin-top: 1em;
        margin-bottom: 2em;

        .buttons {
            text-align: center;

            button {
                font-size: 1.5em;
                padding: .5em 1.5em;
                border: none;
                // border: 1px solid var(--foreground-2);
                border-radius: 5px;
                color: var(--background-1);
                background-color: var(--accent-1);
            }
        }
    }

    .container {
        display: flex;

        .leftpanel {
            float: left;
            width: 50%;
        }

        .rightpanel {
            float: left;
            width: 50%;
        }
    }

    .record_box {
        margin: .5em 1em;
        padding: .5em 1em;

        .record {
            padding: .5em 1em;
            margin: 1em 0 1em 0;
            border-radius: 10px;
            border-top-left-radius: 0;
            background-color: var(--background-1);
            border: 1px solid var(--foreground-2);

            .record_info {

                .header {
                    span {
                        font-weight: bold;
                        font-size: 1em;
                    }

                    margin: .5em 0;

                    .title {
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 1.5em;

                        span {
                            font-weight: normal;
                            font-size: .7em;
                            opacity: .7;
                            vertical-align: middle;
                        }
                    }

                    .description {
                        margin: .5em 0 2em 2em;
                        opacity: .8;
                    }

                    .history_container {
                        margin: .5em 0 1em 2em;

                        label{
                            display: inline-block;
                            float: left;
                            clear: left;
                            width: 100px;
                            text-align: left;
                            margin: .55em;
                            height: 1em;
                            font-size: 1em;
                            vertical-align: middle;
                        }
                
                        span {
                            width: 1em;
                            display: inline-block;
                
                            input,select,textarea {
                                padding: .2em 1em;
                                background-color: var(--background-3);
                                border: 1px solid var(--foreground-2);
                                border-radius: 2.5px;
                                display: inline-block;
                                float: left;
                                width: 20vw;
                                max-width: 20vw;
                                font-size: 1.1em;
                            }
                
                            input[type=date] {
                                width: calc(20vw);
                            }
                        }
                    }
                }
            }

            .filerecordcontainer {
                margin: 0 0 .5em 0;

                span {
                    font-weight: bold;
                    font-size: 1em;
                }

                .file_box {
                    margin-left: 2em;
                    margin-top: 1em;
                }

                hr {
                    margin-bottom: 1em;
                    opacity: .5;
                }
            }

            .buttondiv {

                .buttons {
                    display:block;
                    text-align: right;
                    margin-top: 2em;

                    button {
                        padding: .5em 1.5em;
                        border: none;
                        // border: 1px solid var(--foreground-2);
                        border-radius: 5px;
                        color: var(--background-1)
                    }

                    .savebutton {
                        background-color: var(--accent-1);
                        border: 1px solid var(--accent-1);
                    }

                    .cancelbutton {
                        border: 1px solid var(--foreground-2);
                        color: var(--foreground-1)
                    }
                }
            }
        }
    }

    .diagramfixed {
        width: 100%;
        height: calc(100% - 3em);
        position:relative;


        .diagram {
            vertical-align: middle;
            position: sticky;
            width:100%;
            top: 30px;
            bottom: 30px;
            background-color: var(--background-1);
            border: 1px solid var(--foreground-2);
            border-radius: 10px;
            margin: 2em 0 1em 0;
            padding: 1em 0 3em 0;

            .title {
                text-align: center;
                font-size: 2em;
                font-weight: bolder;
            }

            .tooth-chart{
                margin: auto;
                width: 40%;

            }

            #toothLabels, #dmftLabels {

                text {
                    user-select: none;
                }
            }
            
            #Spots{
                polygon, path{
                    -webkit-transition:fill .10s;
                    transition:fill .10s;
                }
                polygon:hover, polygon:active, path:hover, path:active{
                    fill:#dddddd;
                }

                .blue {
                    fill:#1757e0 !important;
                }

                .green {
                    fill:#17e017 !important;
                }

                .gold {
                    fill:#e0bb17 !important;
                }
                
            }
        }
    }

    .entry {
        display: inline-block;
        min-width: 550px;

        label{
            display: inline-block;
            float: left;
            clear: left;
            width: 200px;
            text-align: right;
            margin: .55em;
            height: 1em;
            font-size: 1.1em;
            vertical-align: middle;
        }

        span {
            width: 1.7em;

            input,select {
                padding: .2em 1em;
                background-color: var(--background-1);
                border: 1px solid var(--foreground-2);
                border-radius: 2.5px;
                display: inline-block;
                float: left;
                margin: .5em;
                width: 20vw;
                min-width: 300px;
                font-size: 1.1em;
            }

            select {
                min-width: 337px;
                width: calc(20vw + 2.1em);
            }

            input[type=date] {
                min-width: 300px;
                width: calc(20vw);
            }

            input,select:disabled {
                opacity: .5;
            }
        }

        
    }
}